@media screen and (max-width:800px){
    .title{
        font-size: 45px
    };

    h1{
        font-size:30px
    }
    .content-header{
        flex-direction: column-reverse;
        justify-items: space-evenly;
        height: 720px;
    }

    .content-header{
        height: 650px;
    }
    .text-header{
        margin:0
    }
    .nav{
        padding:0 10px
    }
    .nav .logo img{
        margin-left: 0;
    }
    .nav .links-header a {
        margin-left: -70px;
    }
    .links-header{
        top:0;
        right: 0;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    .content-header > img{
        width: 250px;
    }

    .obras{
        width: 45%;
    }

    .nigth{
        height: 720px;
        flex-direction: column;
        
    }
    .subsections .subsection iframe {
        width: 51vw;
        height: 29vw;
    }
    footer{
        justify-content: space-evenly;
    }

    .content-footer{
        width: 40%;
        margin-bottom: 40px;
    }
}