*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

h1,h2,h3,h4{
    color: #1d273b;
}

.container{
    width: 90%;   
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.another-container{
    width: 100%;   
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
    padding: 60px 0;
    
}

.title{
    font-size: 50px;
}

h1{
    font-size: 50px;
}

header::before{
    content:"";
    display: block;
    margin-bottom: 80px;
}

header{
    height: 100vh;
    background: #aa4b6b; 
    background: -webkit-linear-gradient(to right, hsla(188, 44%, 42%, 0.26), hsla(240, 10%, 47%, 0.404), hsla(340, 39%, 48%, 0.349)), url(../img/portada.jpg); 
    background: linear-gradient(to right, hsla(188, 44%, 42%, 0.26), hsla(240, 10%, 47%, 0.404), hsla(340, 39%, 48%, 0.349)), url(../img/portada.jpg); 
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

nav{
    width: 100%;
    height: 100px;
    background: #fff;
    border: 1px solid transparent;
    box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, .2);
    top:0;
    position: fixed;
    z-index: 100;
}


.nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nav .logo{
    height: 80px;
}

.nav .logo img{
    height: 100%;
    vertical-align: top;
    margin-left: -15vw;
}

.links-header{
    font-weight: 300;
    margin-right: -20vw;
}

.nav .links-header a{
    color: #5d6678;
    text-decoration: none;
    margin-left: 20px;
}

.content-header{
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10%;
}

.text-header{
    margin: 0,0,0, 30px;
   
}

.text-header>h1{
    color: #fff;
    font-weight: bold;
}

.copy{
    color:#fff
}

.content-header{
    font-weight: 300;
    margin: 14px;
    color: #5d6678;
}

.content-header a{
    background: red;
    margin: 28px 0 0 0;
    width: 130px;
    display: inline-block;
    background:#b86ac0;
    text-align: center;
    color: #fff;
    padding: 12px;
    text-decoration: none;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 14px;
    border-radius: 5px;
    box-shadow: 0 8px 30px rgb(201, 31, 222/0.3);
}


.obra-us{
    background-color: #f2f2f2;
}

.container-obras{
    display:flex;
    flex-wrap: wrap;
    margin-top:60px;
    justify-content: space-around;
    background:  url(../img/bandera.jpg); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.obras{
    width: 30%;
    background: #fff;
    margin-bottom: 30px;
    padding: 45px 30px 60px 30px;
    transition: 0.5s;
}

.obras:hover{
    box-shadow: 0 4px 10px rgba(17, 29, 48, .26);
}

.obras > img{
    width: 100%;
    height: 120px;
    margin: auto;
}


.obras > h3{
    font-size: 25px;
    margin-top: 30px;
}


.obras > p{
    font-weight: 100;
    color: #5d6678;
    margin-top: 15px;
    padding-bottom: 20px;
}

.obras > a{
    color: #5d6678;
    font-weight: 400;
    text-decoration: none;
}


.nigth{
    width: 90%;   
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
    padding: 60px 0;
}

.nigth>img{
    width: 600px;
    animation: ease-in animationimg 1s;
}

.text-nigth{
    display:flex;
    flex-wrap: wrap;
    margin-top:60px;
    justify-content: space-around;
}

.eventos{
    width: 30%;
    background: #fff;
    margin-bottom: 30px;
    padding: 45px 30px 60px 30px;
    transition: 0.5s;
}

.eventos:hover{
    box-shadow: 0 4px 10px rgba(17, 29, 48, .26);
}

.eventos  img{
    width: 100%;
    height: 120px;
    margin: auto;
}


.eventos > h3{
    font-size: 25px;
    margin-top: 30px;
}


.eventos > p{
    font-weight: 100;
    color: #5d6678;
    margin-top: 15px;
    padding-bottom: 20px;
}

.eventos > a{
    color: #FF0000;
    font-weight: 400;
    text-decoration: none;
}


.history{
    background: #c22212;
    padding-top: 30px;
}

.content-history{
    display: flex;
    justify-content: space-evenly;
}

.subsections{
    width: 60%;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.subsections .subsection{
    width: 100%;
    background: rgba(255,255,255, .2);
    color: #fff;
    padding:40px 35px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;

}

.subsections  h1{
    color: #fff;
}

.subsections .subsection h4{
    color: #fff;
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 20px;
}

.subsections .subsection p{
    color: #f2f5fc;
    font-weight: 300;
}

.subsections .subsection iframe{
    width: 39vw;
    height: 20vw;
    margin-top: 15px;
}



footer{
    background: #f2f2f2;
    padding: 60px 0;
    overflow: hidden;
    display: flex;
    flex-wrap:wrap ;
    justify-content: space-evenly;
    margin: auto;
}


.content-footer{
    width: 20%;
    text-align: center;
}

.content-footer #img-footer{
    width: 70%;
}


.content-footer h4{
    color: #1d273b;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 30px;
}



.content-footer a{
    display: block;
    text-decoration: none;
    color:#5d6678;
    font-weight: bold;
    transition: color .3s ease-in-out;
    margin-bottom: 10px;
}

.content-footer a:hover{
    color:#c22212
}


.social-media i{
    font-size: 20px;
    display: inline-block;
    color: #c22212;
    border: 1px solid #c22212;
    border-radius: 50%;
    width:40px;
    height: 40px;
    line-height: 37px;
    cursor: pointer;
    margin-top: 20px;
    text-align: center;
    transition: all ease-in-out .3s;
    margin-right: 5px;
}

.social-media i:hover{
    color: #fff;
    background-color: #c22212;
    border-color: #c22212;
}

